@page "/admin"

<div class="admin">
    <label>Admin-Code:</label>
    <input type="password" />
    <button onclick="loginAdmin()">Login</button>
    <button onclick="logoutAdmin()">Logout</button>
</div>

@code {
    private void loginAdmin()
    {

    }
}
