@page "/admin"
@rendermode InteractiveServer
@inject NavigationManager Nav

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <div class="login-bg">
            <div class="login-wrapper">

                <div class="login-avatar">
                    👤
                </div>

                <div class="login-card">
                    <h2>Admin Login</h2>

                    @* @if (!IsAdmin)
            {
                <input type="password"
                       placeholder="Admin-Code"
                       @bind="adminCode"
                       @onkeydown="HandleKeyDown" />

                @if (!string.IsNullOrEmpty(error))
                {
                    <p class="error">@error</p>
                }

                <button class="login-btn" @onclick="LoginAdmin">
                    LOGIN
                </button>
            }
            else
            {
                <p class="success">🔐 Eingeloggt</p>

                <button class="logout-btn" @onclick="LogoutAdmin">
                    Logout
                </button>
            } *@
                </div>

            </div>
        </div>
    </Authorized>

    <NotAuthorized>
        <h3 style="color: red">Sie sind nicht eingeloggt.</h3>
        <button @onclick="Btn_Login">Loggen Sie sich ein</button>
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>


@code {

    private void Btn_Login()
    {
        Nav.NavigateTo("/login");
    }
}
