@page "/"

<div>
	<label>Admin-Code</label>
	<input type="password" id="adminCode" />
	<button onclick="checkAdmin()">Anmelden</button>
	<button onclick="logoutAdmin()">Abmeldung</button>
</div>
@code {

}