body {
}

.legende {
    position: relative;
    text-align: center;
}

.button_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 1rem;
    margin: auto;
    max-width: 800px;
}
.favorit {
    background-color: yellow;
}

.topfavorit{
    background-color: green;
}


button{
    height: 70px;
    border-radius: 6px;
    font-size: 20px;
}