@page "/"
@rendermode InteractiveServer


<h3>QR-Code</h3>
<button @onclick="CreateQrCode">Generate</button>
<img src="@QrCodeImg" alt=""/>

<span>@message</span>
@code {
    private string? QrCodeImg;
    string message = "";
    private void CreateQrCode()
    {
        try
        {
            // 1. Unique Token
            var token = Guid.NewGuid().ToString();

            // 3. Payload (Beispiel)
            var payload = $"http://172.17.10.81:5432/vote/{token}";

            // 4. QR-Code erzeugen
            using var qrGenerator = new QRCoder.QRCodeGenerator();
            using var qrData = qrGenerator.CreateQrCode(payload, QRCoder.QRCodeGenerator.ECCLevel.Q);
            using var qrCode = new QRCoder.PngByteQRCode(qrData);

            var qrBytes = qrCode.GetGraphic(20);
            QrCodeImg = $"data:image/png;base64,{Convert.ToBase64String(qrBytes)}";
        }
        catch (Exception ex)
        {
            message = ex.Message;
        }
    }
}
