@page "/"
@rendermode InteractiveServer
<div class="page-background">
    <div class="qr-container">
        <h3>QR-Code</h3>
        <p class="small-note">
            Scanne den Code und Vote für die beste Diplomarbeit in deinen Augen
        </p>
        <button class="qr-button" @onclick="CreateQrCode">Generate</button>

        @if (!string.IsNullOrEmpty(QrCodeImg))
        {
            <img class="qr-image" src="@QrCodeImg" alt="" />
        }
        <span>@message</span>
    </div>
</div>

@code {
    private string? QrCodeImg;
    string message = "";
    private void CreateQrCode()
    {
        try
        {
            // 1. Unique Token
            var token = Guid.NewGuid().ToString();

            // 3. Payload (Beispiel)
            var payload = $"http://172.17.7.55:5432/validation/{token}";

            // 4. QR-Code erzeugen
            using var qrGenerator = new QRCoder.QRCodeGenerator();
            using var qrData = qrGenerator.CreateQrCode(payload, QRCoder.QRCodeGenerator.ECCLevel.Q);
            using var qrCode = new QRCoder.PngByteQRCode(qrData);

            var qrBytes = qrCode.GetGraphic(20);
            QrCodeImg = $"data:image/png;base64,{Convert.ToBase64String(qrBytes)}";
        }
        catch (Exception ex)
        {
            message = ex.Message;
        }
    }
}
