@page "/"
@rendermode InteractiveServer
@using FriendsOfAward_KrezicGruberSekeric.Components.Viewmodel
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Threading.Tasks
@inject NavigationManager navMgr
@inject MyCustomAuthStateProvider MyAuthProvider

    <div>
        <label for="username">Benutzername:</label>
        <input id="username" @bind="username" />
    </div>
    <div>
        <label for="password">Passwort:</label>
        <input id="password" type="password" @bind="password" />
    </div>
    <button type="button" @onclick="Authenticate">Anmelden</button>
    <p style="color: red">@errormessage</p>

@code {
    string username = ""; 
    string password = "";
    string errormessage = "";

    async Task Authenticate()
    {
        if(IsValidUser(username, password))
        {
            await MyAuthProvider.Login(username);
            navMgr.NavigateTo("/admin", forceLoad: true);
        }
        else
        {
            errormessage = "Ungültiger Benutzername oder Passwort.";
        }
    }
    bool IsValidUser(string username, string password)
    {
        Custom_Library.DbWrapperMySqlV2 wrappr = Custom_Library.DbWrapperMySqlV2.Wrapper;
        try
        {
            string sqlCmd = $"SELECT email, passwort FROM foa_admin WHERE email = '{username}' AND passwort = '{password}'";
            DataTable dt = wrappr.RunQuery(sqlCmd);
            return dt.Rows.Count > 0;
        }
        catch (Exception ex)
        {
            errormessage = ex.Message;
            return false;
        }
        
    }
}
